<div class="container">
  <div class="container">
    <h1 class="mx-auto my-3" style="width: 500px; text-align: center;">Add a new list</h1>
    <div class="container mx-auto" style="width: 600px;">
      <%= simple_form_for @list do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Add List", class: "btn btn-flat" %>
      <% end %>
    </div>
  </div>
</div>
