<h1>Create a new bookmark</h1>
<div class="container">
  <h1 class="mx-auto my-3" style="width: 500px; text-align: center;">Add a new bookmark</h1>
  <div class="container mx-auto" style="width: 600px;">
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.association :movie, as: :select %>
      <%= f.input :comment %>
      <%= f.submit "Add Bookmark", class: "btn btn-flat" %>
    <% end %>
  </div>
</div>
